body {
  background: rgb(16, 159, 245);
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
}

.form-input {
  display: flex;
  flex-direction: column;
}

.form-label {
  font-weight: bolder;
  letter-spacing: 1px;
}

input {
  padding: 15px;
  margin: 10px 0;
  border-color: rgb(180, 167, 167);
}

.app button {
  padding: 15px;
  height: auto;
  width: 100%;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin: 5px 0;
  background: linear-gradient(
    90deg,
    rgba(204, 138, 154, 1) 1%,
    rgba(38, 0, 233, 0.9504844173997724) 100%
  );
}
